* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1C2833;
    color: white;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    background-color: #ECF0F1;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    margin-top: 0;
  }
  
  #goldPriceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #goldPrice {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #refreshButton {
    background-color: #3498DB;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.2s;
  }
  
  #refreshButton:hover {
    background-color: #2980B9;
  }
  
  footer {
    background-color: #1C2833;
    color: white;
    padding: 20px;
    text-align: center;
  }